<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="it.unibs.sandroide">


    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:name="it.unibs.sandroide.lib.activities.SandroideApplication">

        <activity android:name="it.unibs.sandroide.test.RunServiceActivity"
            android:label="@string/app_name"
            android:theme="@style/Base.Theme.AppCompat">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name="it.unibs.sandroide.lib.beacon.ui.BeaconTagActivity"
            android:theme="@style/Base.Theme.AppCompat"
            android:label="Beacon Tagging">
        </activity>

        <activity android:name="it.unibs.sandroide.lib.item.restapi.Oauth2Activity"
            android:label="API OAuth2">
        </activity>

        <service android:name=".test.LogService"/>

    </application>

</manifest>
